<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отслеживание средней скорости автомобиля</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О проекте</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Отслеживание средней скорости автомобиля</h1>
            <p>Добро пожаловать в систему отслеживания скорости автомобилей. Здесь Dы можете наблюдать за движением автомобилей между двумя точками и вычислять их среднюю скорость.</p>
        </section>

        <section>
            <h2>Машины в пути</h2>
            <ul id="active-cars">
                {% for car in cars %}
                    <li>
                        ID: {{ car[0] }}, Номерной знак: {{ car[1] }}, Начальная скорость: {{ '%.1f'|format(car[2]) }} км/ч, Время начала: {{ car[3] }}
                        <br>
                        <span id="timer-{{ car[0] }}"></span>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Завершенные поездки</h2>
            <ul id="finished-cars">
                {% for car in finished_cars %}
                    <li>
                        ID: {{ car[0] }}, Номерной знак: {{ car[1] }}, Начальная скорость: {{ '%.1f'|format(car[2]) }} км/ч, Время начала: {{ car[3] }},
                        Конечная скорость: {{ car[5] }} км/ч, Время окончания: {{ car[4] }}, Средняя скорость: {{ '%.1f'|format(car[6]) }} км/ч
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Инструкция по использованию</h2>
            <ol>
                <li>Нажмите кнопку "Начало пути", чтобы добавить новый автомобиль в список машин в пути.</li>
                <li>Каждая машина будет отображаться с её номерным знаком, начальной скоростью и началом пути.</li>
                <li>Таймер отсчета показывает оставшееся время до завершения пути машины.</li>
                <li>По истечении времени машина автоматически переместится в раздел "Завершенные поездки", или, можно обновить страницу не дожидаясь конца таймера.</li>
                <li>Так как проект тестовый, возможны баги, и сбои, однако, основные элементы проверены и работают, вычисления проверены в ручную.</li>
                <li>База данных работает корректно, возможно, добавление функционала удаления машин, чья средняя скорость меньше 140 через определнный промежуток времени.</li>
                <li>База данных данных перед запуском будет обновлена и пустой</li>
            </ol>
            <button onclick="startCar()">Начало пути</button>
        </section>
    </main>

    <footer>
        <p>© 2024 Отслеживание средней скорости автомобиля</p>
    </footer>

    <script>
        async function startCar() {
            const response = await fetch('/start', { method: 'POST' });
            const data = await response.json();
            if (response.ok) {
                alert(data.message);
                const carID = data.car;
                const tripTimeSeconds = data.trip_time_seconds;
                
                // Добавление нового автомобиля в список активных автомобилей
                const activeCarsList = document.getElementById('active-cars');
                const newCarItem = document.createElement('li');
                newCarItem.innerHTML = `Номерной знак:  ${carID}`;
                newCarItem.id = `car-${carID}`;
                
                // Таймер
                const timerSpan = document.createElement('span');
                timerSpan.id = `timer-${carID}`;
                newCarItem.appendChild(timerSpan);
                
                activeCarsList.appendChild(newCarItem);
                
                // Запуск таймера
                startTimer(timerSpan, tripTimeSeconds, carID);
            } else {
                alert(data.message);
            }
        }

        function startTimer(element, duration, carID) {
            let timer = duration, minutes, seconds;
            const intervalID = setInterval(() => {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                element.textContent = `Времени осталось ${minutes}:${seconds}`;

                if (--timer < 0) {
                    clearInterval(intervalID);
                    // Автоматическое завершение поездки
                    finishCar(carID);
                }
            }, 1000);
        }

        async function finishCar(carID) {
    try {
        // Генерация случайной конечной скорости в диапазоне от 100 до 140 км/ч
        const responseSpeed = await fetch('/generate-end-speed');
        const dataSpeed = await responseSpeed.json();
        const endSpeed = dataSpeed.end_speed;

        // Отправка запроса на сервер Flask для завершения поездки
        const response = await fetch(`/end/${encodeURIComponent(carID)}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                end_speed: endSpeed
            })
        });

        if (response.ok) {
            const responseData = await response.json();
            alert(`Car with ID ${carID} finished.`);
            // Успешное завершение поездки, обновление интерфейса

        } else {
            const errorData = await response.json();
            alert(`Error finishing car: ${errorData.error}`);
        }
    } catch (error) {
        console.error('Error finishing car:', error);
        alert('An error occurred while finishing the car.');
    }
}

    </script>
</body>
</html>
    